h1{
    text-align: center;
    /* background-color:blue;*/
    color:black;
    font-size: 50px;
}  
body{
    margin-left: 80px;
    margin-right: 80px;
    border:2px solid rgb(0, 0, 78);
}
section{
    background-color:mediumaquamarine;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding:20px;
    margin:5px;
    width:99%;
    box-sizing: border-box;
}
img{
    width: 100%;
}
h2{
   color:#dc355f;
}
p{
    text-align: justify;
}

.grid-container{
    display:grid;
    grid-column-gap:3px;
    grid-template-areas: 
    "a b"

}
#one{
    grid-area:a;
    margin: 20px;

}
#two{
    grid-area:b;
    margin: 20px;
}
#pic{
    height: 250px;
}
#cli{
    height:250px;
}
#gif{
    height:300px;
}
#x{
    height:200px;
    width:290px;
    margin:8px;
    float: right;
}
#y{
    height:120px;
    width:290px;
    float:right;
    margin:8px;
}
#z{
    margin-top: 15px;
    height: 250px;
    width: 48%;
    margin-left: 5px;
}
#a{
    height: 250px;
    width:47%;
    
   
}
#b{
    font-size: 15px;
}
#c{
    height:300px;
}
#d{
    height: 400px;
    width:80%;
    align-items: center;
}
#e{
    height: 350px;
    width:48%;
}
#f{
    height:450px;
    width:80%;
}
#h{
    padding:20px;
    font-size: large;
}
.conatiner{
    display:grid;
}
a:hover{
    color:grey;
}
header{
    
    background-color:#b0c6d7;
    color: white;
    padding: 20px;
    
}
nav{
    padding:1em;
    text-align:center ;
    width:100%;
    
}
nav a{
    text-decoration:none ;
    margin: 0 10px;
    width:100%;
    display:flex,inline;
    position: sticky;
}
.i{
    background-color: #ecfffd;
}
.j{
    position: fixed;
}
#k{
    height:350px;
    width:100%;
}